<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixa Centralizada</title>
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        body {
            background-color: gray;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .container_geral {
            width: 300px;
            height: 200px;
            background-color: #007bff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: white;
            font-family: Arial, sans-serif;
            font-size: 24px;
        }
    </style>

